
* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: auto;
  color: white;
  background-color: dimgrey;
  line-height: 1.5em;
  text-align: justify;
}

main {
  display: block; /* for Internet Explorer */
  margin-left: 300px;
  padding: 0;
  padding-right: 5px; 
  max-width: 920px;
}

h1 {
  line-height: 1em;
}

header {
  padding: 1px;
  padding-left: 10px;
  background-color: #252525;
}

section {
  padding-left: 10px;
}

footer {
  max-width: 920px;
  padding: 1px;
  text-align: right;
  background-color: #252525;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #252525;
  background-image: url(img/nav_background.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
}

nav a {
  display: inline-block;
  font-size: 0.9em;
}

nav a:link {
  color: silver;
}

nav a:visited {
  color: silver;
}

nav a:hover {
  color: white;
}

a {
  text-decoration: none;
}

a:link {
  color: #00bfff;
}

a:visited {
  color: midnightblue;
}

footer {
  margin-top: 8px;
  color: silver;
}

footer a:link {
  color: silver;
  text-decoration: underline;
}

footer a:visited {
  color: silver;
  text-decoration: underline;
}

code {
  font-style: italic;
}

.cmd {
  border: #cccccc solid 2px;
  border-radius: 8px;
  padding: 4px;
}

.note {
  border: #00bfff solid 2px;
  border-radius: 8px;
  padding: 4px;
}

.warning {
  border: #ff6347 solid 2px;
  border-radius: 8px;
  padding: 4px;
}

.images {
  display: inline-block;
  vertical-align: top;
}

.icon {
  width: auto;
  height: 1.5em;
  vertical-align: middle;
  border-radius: 0;
}

img {
  border-radius: 8px;
}